.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  margin-right: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn.active {
  background: var(--red);
  color: var(--primary-color);
}

.text {
  transition: all 0.2s ease-in-out;
}

.text-red {
  color: var(--red);
}

.text-green {
  color: var(--green);
}
