@import url("./default.css");
@import url("./utilities.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

:root {
  --primary-color: #fff;
  --primary-font: 'Nunito', sans-serif;

  --red: #CF0000;
  --green: #006639; 
  --black: #000;
}

body {
  width: 100vw;
  height: 100vh;

  font-family: var(--primary-font);
  color: var(--primary-color);

  background: url('../img/spiral.jpg') no-repeat center/cover;
}

.input-wrapper {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper #fibo-num {
  border: 2px solid var(--red);
  font-size: 2rem;
  padding: 0.5rem 1.5rem;
  text-align: right;
  direction: rtl;
}

.input-wrapper #fibo-num:focus {
  border-color: var(--green);
}

.btn-wrapper {
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper #start-btn {
  min-width: 15rem; 
  background: var(--green);
  color: var(--primary-color);
  margin-right: 0;
}

.btn-wrapper #start-btn:hover {
  background: var(--red);
  color: var(--primary-color);
}

.algo-wrapper .btn {
  padding: 1rem 4rem;
}

#results {
  height: 100vh;
  padding: 5rem;
  margin-top: 3rem;
  background: rgba(255, 255, 255, 0.75);
}

#results .result-time,
#results .result-numbers {
  font-size: 3rem;
  color: var(--green);
}

#results .time-wrapper {
  display: flex;
  align-items: center;
}

.time-wrapper .result-time {
  margin-right: 1rem;
}
